{{#partial "content"}}

    {{#if heroes}}
        <h1>Complete List of heroes: </h1>
        <ul>
            {{#each heroes}}
                <li>
                    <h1>{{ name }}</h1>
                    <h2><a href="/heroes/{{id}}" class="btn btn-info btn-lg">Check me out!</a></h2>

                </li>
            {{/each}}

        </ul>

    {{else}}
        <h1 class="text-center">No heroes yet!</h1><br>
        <br><a href="/heroes/new" class="btn btn-info btn-lg btn-block">Create a new Hero</a>
    {{/if}}

{{/partial}}

{{> layout.hbs}}