{{#partial "styles"}}
    <link rel="stylesheet" href="/css/index.css">
{{/partial}}
{{#partial "content"}}
    <div class="container-fluid">
        <div class="row main">
            <div class="col-12 mainCol">
                <div class="row">
                    <div class="col-12 title">
                        <h1 class="text-center display-1">BUILD THE ULTIMATE<br> HERO-SQUAD</h1>
                    </div>
                </div>
                <p>Welcome to hero-squad!<br>Have you ever wanted to build your own Avengers<br> or Justice-League?<br>Well with hero-squad your dreams are valid!</p>
                <p>Click on begin and follow your dreams!</p>
                <a href="/squads/new"><button type="button" class="btn btn-success btn-lg btn-block">ADVENTURE TIME</button></a>
            </div>
        </div>

    </div>

{{/partial}}

{{> layout.hbs}}
