{{#partial "content"}}
    {{#each squads}}
        <form>
            <div class="form-group row">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{squad.name}}" id="{{squad.name}}" value="option1" >
                    <label class="form-check-label" for="{{squad.name}}">
                        {{squad.name}}
                    </label>
                </div>
            </div>
        </form>
    {{/each}}

{{/partial}}

{{> layout.hbs}}