{{#partial "content"}}

    <h1 class="display-2 text-center">BUILD<br> THE ULTIMATE<br> HERO-SQUAD</h1>
    <p class="text-center">Welcome to hero-squad!<br>Have you ever wanted to build your own Avengers or Justice-League?<br>Well with hero-squad your dreams are valid!</p>
    <p class="text-center"><br>Click on begin and follow your dreams!</p><br>
    <br><a href="/heroes/new"><button type="button" class="btn btn-success btn-lg btn-block">ADVENTURE TIME</button></a>

{{/partial}}

{{> layout.hbs}}
